services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - ute-shop
  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: masterKey
      MEILI_ENV: development
    volumes:
      - meilisearch_data:/meili_data
    networks:
      - ute-shop

networks:
  ute-shop:
    driver: bridge
volumes:
  meilisearch_data:
